*{
     font-size: 15px;
}
.normalization{
     padding: 0;
     margin: 0;
}
.notificationIcon{
     color: #707070;
     float: left;
     font-size: 20px;
     margin-left: 10px;
     margin-top: 8px;
}
.avatar{
     background-color: #5346A0;
     color: #fff;
     width: 35px;
     height: 35px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0;
     float: left;
     font-size: 12px;
     margin-left: 10px;
}
.userName{
     color: #000;
     font-size: 15px;
     float: left;
     padding-left: 10px;
     padding-top: 6px;
}
.menuIcon{
     color: #707070;
}
.menuList{
    color: #707070;
    float: left;
    margin-top: 5px;
}
.listItem{
     padding: 0 !important;
     margin-bottom: 10px;
}
.accordion{
     min-width: 248px;
     box-shadow: none !important;
}
.accordionSummary{
     height: 60px !important;
}
.accordionSummary:hover{
     background-color: #F5F8FD;
     color: #5346A0;
}
.accordionIcon{
     font-size: medium !important;
}
.drawerListIcon{
     font-size: 1.5rem;
}
.routerLink{
     color: #4d4a4a;
     text-decoration: none;
}
.routerLink:hover {
   color: #5346A0;
}
.dashboard{
     height: 60px;
}
.dashboard:hover {
   color: #5346A0;
   background-color: #F5F8FD;

}
.listItemText{
     padding: 10px 20px 10px 10px;
}
.userInfo{
     margin-top: 8px;
}
@media only screen and (max-width:768px) {
     .userInfo{
          display: none;
     }
}