.headerAlignment {
  width: 100%;
  box-sizing: border-box;
  margin-top: 65px;
  background-color: #efefef;
}
.card {
  background-color: #4962b6 !important;
  border-radius: 0% !important;
  color: white !important;
  box-shadow: none !important;
}
.headerIcon {
  width: 60px;
  padding: 25px 20px 20px 23px;
  border-right: 2px solid #3650a6;
}
.equipmentDetails {
  margin-top: 15px;
}
.header {
  padding: 30px 30px 2px 60px;
  font-size: 20px !important;
  color: #4a4a4a;
}
.headerTwo {
  padding: 10px 30px 2px 30px;
  font-size: 20px !important;
  color: #4a4a4a;
}
.box {
  padding: 2px 30px 10px 60px;
}
.equipmentType {
  border-left: 1px solid #10054b;
  font-size: 12px;
  cursor: pointer;
}
.didHeader {
  background-color: #e5eeff;
  height: 50px;
  width: 100%;
  clear: both;
}
.didHeader div {
  float: left;
  font-size: medium;
  font-weight: 700;
  padding: 15px 10px 0px 19px;
}
.addBtn {
  float: right;
  height: 25px !important;
  margin-right: 2% !important;
  font-size: 11px !important;
  background-color: #5346a0 !important;
  color: white !important;
  border-radius: 20px !important;
  margin-top: 8px !important;
  text-transform: capitalize !important;
  width: 90px;
}
.didTable {
  background-color: #f8faff;
}
.didCard {
  box-shadow: none;
}
.online {
  background-color: white;
  width: 60px;
  height: 25px;
  border-radius: 20px;
  color: #50840b !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.trouble {
  margin: 0% !important;
  background-color: #dfd800 !important;
  width: 70px;
  height: 22px !important;
  border-radius: 20px;
  color: black;
  padding-left: 14px;
  font-size: 13px;
  padding-top: 2px;
}
.offline {
  margin: 0% !important;
  background-color: #e50505 !important;
  width: 70px;
  height: 22px !important;
  border-radius: 20px;
  color: white;
  padding-left: 14px;
  font-size: 13px;
  padding-top: 2px;
}
.locationDetails {
  font-size: 20px !important;
  padding-left: 4px !important;
  margin-top: -9px !important;
  font-weight: 100 !important;
}
.equipmentDidList {
  padding: 30px;
  background-color: white;
  height: 900px;
}
.equipmentList {
  border-left: 2px solid #efefef;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0%;
  margin-bottom: 10px;
}
.equipmentListOnClick {
  border-left: 3px solid #5346a0;
  background-color: #e9f2ff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0%;
  margin-bottom: 10px;
}
.arrowBTN {
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBTN {
  font-size: 25px !important;
  font-weight: 500 !important;
}
.equipmentAddField {
  padding-top: 15px;
  padding-right: 15px;
  float: right;
}
