.sidebarMenuAlignment{
    margin: 100px 30px 0 30px;
}
.searchBar{
    float: right;
}
.locationHeader{
    float: left;
}
.location{
    color:#5346A0;
    font-size: 25px;
}
.locationFilter .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input  {
    padding: 0 !important;
}